*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(175, 242, 174);
    padding-left:50px;
    padding-right:50px;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
}
h2{
    margin: 50px auto;
    text-align: center;
}
.container{
   display: flex;
   flex-flow: row wrap;
   justify-content:space-around;
   align-items: center;
   margin:50px auto;
}

.card{
    background-color: rgb(248, 240, 242);
    padding: 20px 30px;
    margin-top: 10px;
    width: 350px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 10px;
}

.card-title, .card-answer {
    text-align: center;
    margin: 5px auto 20px;
    font-weight: bold;
}

.card-btn{
    display:block;
    margin: 15px auto;
    padding: 5px 10px;
    width:100%;
    font-size: 18px;
    border: 1px solid #7ccd3e;
    color: #356a0d;
    border-radius: 5px;
    cursor: pointer;
}
.card-btn:hover{
    background: rgba(29, 231, 46, 0.426);
    color:black;
    font-size: 19px;
}

.card-answer{
   display:none;
}
.pronunciation{
    display: none;
    width: 100%;
}
.card img {
    display: block;
    margin: auto;
}